<h1>Tasks</h1>

<button (click)="logout()">
    Logout
</button>

<hr>

<div>
    <input placeholder="Title" [(ngModel)]="title" />
</div>

<div>
    <input placeholder="Description" [(ngModel)]="description" />
</div>

<button *ngIf="!editing" (click)="createTask()">
    Add Task
</button>

<button *ngIf="editing" (click)="updateTask()">
    Update Task
</button>

<button *ngIf="editing" (click)="cancelEdit()">
    Cancel
</button>

<hr>

<div *ngFor="let task of tasks">
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <button (click)="editTask(task)">Edit</button>
    <button (click)="deleteTask(task.id)">Delete</button>
    <hr>
</div>